<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

	<link rel="stylesheet" href="/css/popup.css">
	<style id="renderStyle"></style>
</head>
<body>
	<div id="app">
		<div class="popup">
			<div class="popup-header">
				<a v-show="!isShowFile" class="btn-back" href="javascript:;" @click="handlerBack">返回</a>
				<span>脚本</span>
				<a class="btn-close" href="javascript:;" @click="handlerClose">关闭</a>
			</div>
			<div class="popup-body">
				<div v-show="isShowFile" class="popup-file-list">
					<ul>
						<li v-for="(index, file) in fileList">
							<label :title="file.path">
								<input type="checkbox" v-model="checkFile" :value="file"/>
								{{file.name}}
							</label>
							<a href="javascript:;" @click="handlerRunFile(file)">[运行]</a>
							<a href="javascript:;" @click="handlerModifyFile(file)">[修改]</a>
							<a href="javascript:;" @click="handlerDeleteFile(file)">[删除]</a>
						</li>
					</ul>
				</div>
				<div v-else class="popup-renderer">
					<component :is="renderName" :data="renderData"></component>
				</div>
				<div v-show="status>0" class="popup-running">
					<div class="rectangle-bounce">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					<p class="text">运行中</p>
				</div>
			</div>
			<div class="popup-footer">
				<div v-show="isShowFile" class="pull-left">
					<template v-if="0==status">
						<button type="button" class="btn" @click="handlerAddFile">新增</button>
						<button type="button" class="btn" @click="handlerBatchDelFile">删除</button>
						<button type="button" class="btn" @click="handlerBatchRunFile">运行</button>
					</template>
					<template v-if="status>0">
						<button type="button" class="btn" @click="handlerStopFile">停止</button>
					</template>
				</div>
				<div v-else class="pull-left">
					<template v-if="0==status">
						<button type="button" class="btn" @click="handlerSaveFile">保存</button>
						<button type="button" class="btn" @click="handlerRunFile()">运行</button>
					</template>
					<template v-if="status>0">
						<button type="button" class="btn" @click="handlerStopFile">停止</button>
					</template>
				</div>
				<button type="button" class="btn" @click="isShowLog=true">打印信息</button>
			</div>
		</div>
		<div class="log" v-show="isShowLog">
			<h4>打印信息：</h4>
			<div class="textarea-group">
				<textarea v-model="logText" class="form-control" readonly="readonly"></textarea>
			</div>
			<div class="btn-group">
				<button id="clearBtn" type="button" class="btn pull-left" @click="logText=''">清空</button>
				<button id="closeLogBtn" type="button" class="btn"  @click="isShowLog=false">关闭</button>
			</div>
		</div>
		<div class="dialog-mask" v-if="dialogType">
			<div class="dialog-wrap" v-if="'add' == dialogType">
				<div class="dialog-header">新增脚本</div>
				<div class="dialog-body">
					<div class="form-group">
						<label>脚本名：</label>
						<input type="text" class="form-control" v-model="newFileName" />
					</div>
					<div class="form-group">
						<label>脚本路径：</label>
						<input type="file" class="form-control" v-model="newFilePath" @change="newFile=$event.target.files[0]" />
					</div>
				</div>
				<div class="dialog-footer">
					<button type="button" class="btn" @click="handlerAddDialog">确定</button>
					<button type="button" class="btn" @click="dialogType=null">取消</button>
				</div>
			</div>
			<div class="dialog-wrap" v-if="'remove' == dialogType">
				<div class="dialog-header">提示</div>
				<div class="dialog-text">
					<span v-if="delFileIds.length>1">确定删除选中的{{delFileIds.length}}个脚本吗?</span>
					<span v-if="delFileIds.length==1">确定删除脚本【{{getFileNameById(delFileIds[0])}}】吗?</span>
				</div>
				<div class="dialog-footer">
					<button type="button" class="btn" @click="handlerDelDialog">确定</button>
					<button type="button" class="btn" @click="dialogType=null;delFileIds=[];">取消</button>
				</div>
			</div>
		</div>
	</div>
	<script src="./js/lib/vue.min.js"></script>
	<script src="./js/popup.js"></script>
</body>
</html>